@charset "UTF-8";

body {
    background: linear-gradient(to right, #CC9BA8,#33161E); /* Gradient background */
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Top banner */
#banner {
    height: 120px;
    background-color: #33161E;
}

/* Banner heading */
#banner h1 {
    color:white;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;

}

/* Left column */
#left-column {
    float: left;
    width: 360px;
    height:600px;
    background-color: #33161E;
}

.clear{
    clear: both;
}


/*footer banner*/
#footer {
    background-color: #33161E;
    color: white;
    text-align: center;
    padding: 15px 0;
    height: 70px;
    width: 100%;

}

.Image img {
width: 200px;
padding: 15px; 
margin: 15px; 
background-color:black; 
border:2px white solid; 
box-shadow: 10px 10px 5px black;
}


#video { 
    width: 400px; 
    padding: 15px; 
    margin: 15px; 
    background-color:black; 
    border:2px white solid; 
    box-shadow: 10px 10px 5px black;
}



