@charset "UTF-8";

body {
    background: linear-gradient(to right, #CC9BA8,#33161E);
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #33161E;
}

/* Top banner */
#banner {
    height: 120px;
    background-color: #33161E;

}

#banner h1 {
    color:white;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Left column */
#left-column {
    float: left;
    width: 340px;
    height:600px;
    background-color: #33161E;
}

.clear{
    clear: both;
}


#footer {
    background-color: #33161E;
    color: white;
    text-align: center;
    padding: 15px 0;
    height: 70px;
    width: 100%;

}

.Image img {
width: 100px;
height: auto;

} 