@charset "UTF-8";

body {
    background: linear-gradient(to right, #CC9BA8,#33161E);
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    border: #33161E;
}


#banner {
    background-color: #33161E;
    color: white;
    text-align: center;
    padding: 20px 0;
}


#left-column {
    float: left;
    width: 360px;
    height: 600px;
    background-color: #33161E;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #33161E;
    text-align: left;
}

#footer {
    height: 70px;
}

.Image img {
width: 100px;
height: auto;

} 